<div id="extra-large-modal" class="overlay modal overlay-open:opacity-100 overlay-open:duration-300 hidden"
    role="dialog" tabindex="-1">
    <div class="modal-dialog modal-dialog-xl">
        <div class="modal-content h-fit max-h-none">
            <div class="modal-header">
                <h3 class="modal-title">{{project?.title}}</h3>
                <button type="button" class="btn btn-text btn-circle btn-sm absolute end-3 top-3" aria-label="Close"
                    data-overlay="#extra-large-modal">
                    <span class="icon-[tabler--x] size-4"></span>
                </button>
            </div>
            <div class="modal-body">
                <div class="flex flex-wrap flex-col">
                    <div class="w-full max-h-1/4 p-5">
                        <img [src]="project?.image" [alt]="project?.title" class="rounded-3xl aspect-7/3 object-cover">
                    </div>
                    <div class="p-5">
                        <p class="font-semibold">{{project?.description}}</p>
                        <ul class="flex flex-wrap gap-2 mt-5">
                            @for(t of project?.techStack ; track $index){
                            <li class="px-3 py-1 border rounded-3xl bg-gray-200 shadow">{{t}}</li>
                            }
                        </ul>
                        <div class="flex justify-end gap-2 mt-8">
                            <a [href]="project?.repository" target="_blank">
                                <button class="btn btn-circle  [--btn-color:#2b3137] text-white"
                                    aria-label="Github Icon Button">
                                    <span class="icon-[tabler--brand-github] size-4.5 shrink-0"></span>
                                </button>
                            </a>
                            <a [href]="project?.liveDemo" target="_blank">
                                <button class="btn btn-primary btn-soft rounded-full min-w-1/2">live Demo
                                    <span class="material-symbols-outlined">
                                        open_in_new
                                    </span>
                                </button>
                            </a>
                        </div>
                    </div>
                </div>

            </div>
            <!-- <div class="modal-footer">
                <button type="button" class="btn btn-soft btn-secondary"
                    data-overlay="#extra-large-modal">Close</button>
            </div> -->
        </div>
    </div>
</div>