<section class="lg:my-10 py-10 bg-gray-100 overflow-hidden">
    <h2 class="text-sm font-bold text-center text-primary">Personal Overview</h2>
    <h2 class="text-4xl lg:text-5xl font-bold text-center">About Me</h2>
    <div class="2xl:w-3/4 mx-auto px-3 lg:px-10 flex flex-wrap my-5 ">
        <div class="lg:w-1/2 xl:w-3/4 2xl:w-7/12 p-3">
            <div
                class=" flex flex-col items-center shadow rounded-2xl bg-white p-6 text-center intersect:motion-preset-slide-right motion-delay-0 overflow-hidden">
                <label class="swap swap-flip text-8xl intersect:motion-preset-fade">
                    <input type="checkbox" />
                    <span class="swap-on flex justify-center items-center">😇</span>
                    <span class="swap-off"><img src="./images/ProfilePic.jpeg" alt="Profile picture"
                            class="size-48 rounded-full "></span>
                </label>

                <h2 class="text-xl font-semibold intersect:motion-preset-slide-right motion-delay-100">Full Stack Web
                    Developer</h2>
                <h3 class="font-bold mb-2 intersect:motion-preset-slide-right motion-delay-150">Angular & Asp.Net Core
                </h3>
                <p class="font-semibold intersect:motion-preset-slide-right motion-delay-200">I’m a Business Information
                    Systems graduate and Full Stack Developer with
                    hands-on
                    experience in Angular
                    and .NET. I enjoy building scalable, user-focused web applications and translating business
                    requirements
                    into clean, maintainable technical solutions. I’m always eager to learn, grow, and contribute to
                    real-world projects.</p>
            </div>
        </div>
        <div class="lg:w-1/2 xl:w-1/4 2xl:w-5/12 p-3 w-full ">
            <div
                class="flex flex-col justify-between shadow rounded-2xl bg-white p-6 h-full intersect:motion-preset-slide-left motion-delay-100">
                <div class="relative mb-3 flex justify-center items-center">
                    <span class="icon-[picon--ninja] size-6"></span>
                    <h2 class="text-center font-bold text-2xl mb-1">Personal Info</h2>
                    <span class="w-full h-0.5 skew-1 bg-black absolute bottom-0"></span>
                </div>
                <ul class="sm:flex flex-wrap gap-1">
                    <li
                        class="bg-gray-800 glass shadow rounded-2xl text-white px-3 py-1 mb-1 sm:w-fit intersect:motion-preset-slide-left motion-delay-100">
                        <span class="font-semibold">Name:</span> Gamal Ehab.
                    </li>
                    <li
                        class="bg-gray-800 glass shadow rounded-2xl text-white px-3 py-1 mb-1 sm:w-fit intersect:motion-preset-slide-left motion-delay-150">
                        <span class="font-semibold">Age:</span> 22.
                    </li>
                    <li
                        class="bg-gray-800 glass shadow rounded-2xl text-white px-3 py-1 mb-1 sm:w-fit intersect:motion-preset-slide-left motion-delay-200">
                        <span class="font-semibold">Nationality:</span> Egyptian.
                    </li>
                    <li
                        class="bg-gray-800 glass shadow rounded-2xl text-white px-3 py-1 mb-1 sm:w-fit intersect:motion-preset-slide-left motion-delay-250">
                        <span class="font-semibold">Address:</span> Egypt, Cairo, Nasr City.
                    </li>
                    <li
                        class="bg-gray-800 glass shadow rounded-2xl text-white px-3 py-1 mb-1 sm:w-fit intersect:motion-preset-slide-left motion-delay-300">
                        <span class="font-semibold">Degree:</span> Bachelor's Degree.
                    </li>
                    <li
                        class="bg-gray-800 glass shadow rounded-2xl text-white px-3 py-1 mb-1 sm:w-fit intersect:motion-preset-slide-left motion-delay-300">
                        <span class="font-semibold">Major:</span> Business Information Systems (BIS).
                    </li>
                    <li
                        class="bg-gray-800 glass shadow rounded-2xl text-white px-3 py-1 mb-1 sm:w-fit intersect:motion-preset-slide-left motion-delay-300">
                        <span class="font-semibold">CGPA:</span> 3.79 / 4.
                    </li>
                    <li
                        class="bg-gray-800 glass shadow rounded-2xl text-white px-3 py-1 mb-1 sm:w-fit intersect:motion-preset-slide-left motion-delay-350">
                        <span class="font-semibold">Graduation year:</span> 2025.
                    </li>
                    <li
                        class="bg-gray-800 glass shadow rounded-2xl text-white px-3 py-1 mb-1 sm:w-fit intersect:motion-preset-slide-left motion-delay-400">
                        <span class="font-semibold">Military
                            Service Status:</span> Exempted.
                    </li>
                </ul>
                <div
                    class="shadow order-1 rounded-2xl h-24 p-6 mt-3 bg-[url(/images/Hero.png)] max-md:bg-fixed bg-cover bg-no-repeat relative overflow-hidden group">
                    <div
                        class="absolute w-full h-full bg-black/50 top-0 group-hover:left-0 rounded-2xl left-full duration-200">

                    </div>
                </div>
            </div>

        </div>
    </div>
</section>