<div class="lg:w-3/4 mx-auto fixed top-2 left-0 right-0 z-50">
    <nav class="navbar rounded-box shadow-base-300/20 shadow-sm">
        <div class="navbar-start">
            <a class="link text-base-content link-neutral text-xl font-bold no-underline flex items-center gap-2"
                href="#">
                <span class="material-symbols-outlined bg-black glass p-2 rounded-xl text-white">
                    code
                </span>
                <span>Gamal.Dev</span>
            </a>
        </div>
        <div class="navbar-center max-md:hidden">
            <ul class="menu menu-horizontal gap-2 p-0 text-base rtl:ml-20 font-bold bg-gray-100 rounded-full">
                <li><a href="#home" class="scrollspy-active:bg-gray-100 scrollspy-active:shadow rounded-3xl">Home</a>
                </li>
                <li><a href="#about" class="scrollspy-active:bg-gray-100 scrollspy-active:shadow rounded-3xl">About</a>
                </li>
                <li><a href="#projects"
                        class="scrollspy-active:bg-gray-100 scrollspy-active:shadow rounded-3xl">Projects</a></li>
                <li><a href="#skills"
                        class="scrollspy-active:bg-gray-100 scrollspy-active:shadow rounded-3xl">Skills</a></li>
                <li><a href="#experience"
                        class="scrollspy-active:bg-gray-100 scrollspy-active:shadow rounded-3xl">Experience</a></li>
                <li><a href="#contact"
                        class="scrollspy-active:bg-gray-100 scrollspy-active:shadow rounded-3xl">Contact</a></li>
            </ul>
        </div>
        <div class="navbar-end items-center gap-4">
            <div class="dropdown relative inline-flex [--placement:bottom] md:hidden">
                <button id="dropdown-default" type="button"
                    class="dropdown-toggle btn btn-text btn-secondary btn-square" aria-haspopup="menu"
                    aria-expanded="false" aria-label="Dropdown">
                    <span class="material-symbols-outlined">
                        menu
                    </span>
                </button>
                <ul class="dropdown-menu dropdown-open:opacity-100 hidden min-w-60" role="menu"
                    aria-orientation="vertical" aria-labelledby="dropdown-default">
                    <li><a class="dropdown-item scrollspy-active:bg-red-100" href="#home">Home</a></li>
                    <li><a class="dropdown-item" href="#about">About</a></li>
                    <li><a class="dropdown-item" href="#projects">Projects</a></li>
                    <li><a class="dropdown-item" href="#skills">Skills</a></li>
                    <li><a class="dropdown-item" href="#experience">Experience</a></li>
                    <li><a class="dropdown-item" href="#contact">Contact</a></li>
                </ul>
            </div>
            <!-- <label class="swap swap-rotate">
                <input type="checkbox" value="dark" class="theme-controller" />
                <span class="swap-off icon-[tabler--sun] size-7"></span>
                <span class="swap-on icon-[tabler--moon] size-7"></span>
            </label> -->
            <!-- <a class="btn btn-primary" href="#">Contact</a> -->
        </div>
    </nav>
</div>






























<!-- 
<nav class="navbar rounded-box w-full gap-2 max-md:flex-col md:items-center" aria-label="Scrollspy navbar">
    <div class="flex items-center justify-between max-md:w-full">
        <div class="navbar-start items-center justify-between max-md:w-full">
            <a class="link text-base-content link-neutral text-xl font-semibold no-underline" href="#">Navbar</a>
            <div class="md:hidden">
                <button type="button" class="collapse-toggle btn btn-outline btn-sm btn-square"
                    data-collapse="#dropdown-navbar-collapse" aria-controls="dropdown-navbar-collapse"
                    aria-label="Toggle navigation">
                    <span class="icon-[tabler--menu-2] collapse-open:hidden size-4"></span>
                    <span class="icon-[tabler--x] collapse-open:block hidden size-4"></span>
                </button>
            </div>
        </div>
    </div>
    <div id="dropdown-navbar-collapse" data-scrollspy="#scrollspy-1"
        data-scrollspy-scrollable-parent="#scrollspy-scrollable-parent-1"
        class="md:navbar-end collapse hidden grow overflow-hidden transition-[height] duration-300 max-md:w-full">
        <ul class="menu md:menu-horizontal gap-2 p-0 text-base">
            <li><a class="hover:text-base-content scrollspy-active:text-bg-soft-primary active" href="#first">First</a>
            </li>
            <li><a class="hover:text-base-content scrollspy-active:text-bg-soft-primary" href="#second">Second</a></li>
            <li class="dropdown relative inline-flex [--auto-close:inside] [--offset:9] [--placement:bottom-end]">
                <button id="dropdown-transportation" type="button"
                    class="dropdown-toggle dropdown-open:bg-base-content/10 dropdown-open:text-base-content"
                    aria-haspopup="menu" aria-expanded="false" aria-label="Dropdown">
                    Dropdown
                    <span class="icon-[tabler--chevron-down] dropdown-open:rotate-180 size-4"></span>
                </button>
                <ul class="dropdown-menu dropdown-open:opacity-100 hidden w-36" role="menu" aria-orientation="vertical"
                    aria-labelledby="dropdown-nav">
                    <a class="dropdown-item scrollspy-active:dropdown-active" href="#third">Third</a>
                    <a class="dropdown-item scrollspy-active:dropdown-active" href="#fourth">Fourth</a>
                    <a class="dropdown-item scrollspy-active:dropdown-active" href="#fifth">Fifth</a>
                </ul>
            </li>
        </ul>
    </div>
</nav>
<div id="scrollspy-scrollable-parent-1" class="overflow-y-auto max-h-[340px]">
    <div id="scrollspy-1" class="mt-3 space-y-4">
        <div id="first">
            <p class="text-base-content text-lg font-semibold">First</p>
            <p class="mt-1 text-sm leading-6">
                This placeholder content serves to demonstrate the functionality of the scrollspy page. As you scroll
                down, the
                corresponding navigation link is highlighted to indicate the active section. This example copy is
                continuously
                added to underscore the scrolling and highlighting feature.
            </p>
        </div>
        <div id="second">
            <p class="text-base-content text-lg font-semibold">Second</p>
            <p class="mt-1 text-sm leading-6">
                This placeholder content serves to demonstrate the functionality of the scrollspy page. As you scroll
                down, the
                corresponding navigation link is highlighted to indicate the active section. This example copy is
                continuously
                added to underscore the scrolling and highlighting feature.
            </p>
        </div>
        <div id="third">
            <p class="text-base-content text-lg font-semibold">Third</p>
            <p class="mt-1 text-sm leading-6">
                This placeholder content serves to demonstrate the functionality of the scrollspy page. As you scroll
                down, the
                corresponding navigation link is highlighted to indicate the active section. This example copy is
                continuously
                added to underscore the scrolling and highlighting feature.
            </p>
        </div>
        <div id="fourth">
            <p class="text-base-content text-lg font-semibold">Fourth</p>
            <p class="mt-1 text-sm leading-6">
                This placeholder content serves to demonstrate the functionality of the scrollspy page. As you scroll
                down, the
                corresponding navigation link is highlighted to indicate the active section. This example copy is
                continuously
                added to underscore the scrolling and highlighting feature.
            </p>
        </div>
        <div id="fifth">
            <p class="text-base-content text-lg font-semibold">Fifth</p>
            <p class="mt-1 text-sm leading-6">
                This placeholder content serves to demonstrate the functionality of the scrollspy page. As you scroll
                down, the
                corresponding navigation link is highlighted to indicate the active section. This example copy is
                continuously
                added to underscore the scrolling and highlighting feature.
            </p>
        </div>
        <div class="h-56"></div>
    </div>
</div> -->