<div class="lg:w-3/4 mx-auto fixed lg:top-2 left-0 right-0 z-50">
    <nav class="navbar rounded-box shadow-base-300/20 shadow-sm">
        <div class="navbar-start">
            <a class="link text-base-content link-neutral text-xl font-bold no-underline flex items-center gap-2"
                href="#">
                <span class="material-symbols-outlined bg-black glass p-2 rounded-xl text-white">
                    code
                </span>
                <span>Gamal.Dev</span>
            </a>
        </div>
        <div class="navbar-center max-md:hidden">
            <ul class="menu menu-horizontal gap-2 p-0 text-base rtl:ml-20 font-bold bg-gray-100 rounded-full">
                <li><a href="#home" class="scrollspy-active:bg-gray-100 scrollspy-active:shadow rounded-3xl">Home</a>
                </li>
                <li><a href="#about" class="scrollspy-active:bg-gray-100 scrollspy-active:shadow rounded-3xl">About</a>
                </li>
                <li><a href="#projects"
                        class="scrollspy-active:bg-gray-100 scrollspy-active:shadow rounded-3xl">Projects</a></li>
                <li><a href="#skills"
                        class="scrollspy-active:bg-gray-100 scrollspy-active:shadow rounded-3xl">Skills</a></li>
                <li><a href="#experience"
                        class="scrollspy-active:bg-gray-100 scrollspy-active:shadow rounded-3xl">Experience</a></li>
                <li><a href="#contact"
                        class="scrollspy-active:bg-gray-100 scrollspy-active:shadow rounded-3xl">Contact</a></li>
            </ul>
        </div>
        <div class="navbar-end items-center gap-4">
            <div class="dropdown relative inline-flex [--placement:bottom] md:hidden">
                <button id="dropdown-default" type="button"
                    class="dropdown-toggle btn btn-text btn-secondary btn-square" aria-haspopup="menu"
                    aria-expanded="false" aria-label="Dropdown">
                    <span class="material-symbols-outlined">
                        menu
                    </span>
                </button>
                <ul class="dropdown-menu dropdown-open:opacity-100 hidden min-w-60" role="menu"
                    aria-orientation="vertical" aria-labelledby="dropdown-default">
                    <li><a class="dropdown-item scrollspy-active:bg-red-100" href="#home">Home</a></li>
                    <li><a class="dropdown-item" href="#about">About</a></li>
                    <li><a class="dropdown-item" href="#projects">Projects</a></li>
                    <li><a class="dropdown-item" href="#skills">Skills</a></li>
                    <li><a class="dropdown-item" href="#experience">Experience</a></li>
                    <li><a class="dropdown-item" href="#contact">Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>