<section class="lg:my-10 lg:py-10 overflow-hidden">
    <div class="flex flex-wrap justify-between items-center lg:w-3/4 mx-auto lg:px-10">
        <div class="lg:w-1/2 mx-auto max-lg:*:bg-[url(/images/Hero.png)]  max-lg:text-white">
            <div
                class="lg:max-w-10/12 p-2 max-lg:min-h-150 bg-fixed lg:rounded-3xl bg-cover max-lg:flex max-lg:flex-col max-lg:justify-center items-center max-lg:text-center max-lg:bg-black/60 max-lg:bg-blend-color lg:intersect:motion-preset-slide-right motion-delay-0">
                <span
                    class="badge badge-outline badge-primary rounded-2xl mb-3 intersect:motion-preset-slide-right motion-delay-20">
                    <div class="flex items-center gap-2">
                        <div class="inline-grid *:[grid-area:1/1]">
                            <div class="status status-success animate-ping"></div>
                            <div class="status status-success"></div>
                        </div>
                    </div>
                    Available for Hire
                </span>
                <h1 class="text-4xl xl:text-6xl font-bold intersect:motion-preset-slide-right motion-delay-50">Full
                    Stack <br> Web
                    Developer</h1>
                <h3
                    class="text-sm lg:text-xl my-5 max-lg:max-w-3/4 intersect:motion-preset-slide-right motion-delay-100">
                    Specializing in Angular & ASP.NET
                    Core. Building scalable,
                    high-performance
                    web
                    applications with
                    clean architecture and modern design patterns.</h3>
                <div class="flex flex-wrap gap-2">
                    <a href="https://drive.google.com/file/d/1q6GR9ZSsBVwppwwUtJv3pr4pTnlbTQL3/view?usp=sharing"
                        target="_blank">
                        <button class="btn btn-outline btn-primary rounded-full">View CV <span
                                class="material-symbols-outlined">
                                docs
                            </span></button>
                    </a>
                    <button routerLink="projects" routerLinkActive="router-link-active"
                        class="btn btn-gradient btn-primary rounded-full">Projects <span
                            class="material-symbols-outlined animate-pulse">
                            keyboard_double_arrow_right
                        </span></button>
                </div>
            </div>
        </div>
        <div class="lg:w-1/2 hidden lg:block justify-items-end intersect:motion-preset-blur-left ">
            <div class="w-fit">
                <img src="./images/Hero.png" alt="" class="rounded-3xl">
            </div>
        </div>
    </div>
</section>