<section class="py-10 overflow-hidden">
    <div class="xl:w-3/4 mx-auto my-16">
        <h2 class="flex items-center gap-2 text-4xl font-bold p-3">
            <a href="#projects">
                <div
                    class="size-10 flex items-center justify-center bg-primary/20 rounded-full cursor-pointer hover:bg-primary/30 duration-200">
                    <span class="material-symbols-outlined">
                        arrow_left_alt
                    </span>
                </div>
            </a>

            <span>All Projects</span>
        </h2>
        <div class="flex flex-wrap my-5 ">
            @for(p of projects; track $index){
            <div class="w-full md:w-1/2 2xl:w-1/3 p-3">
                <div class="bg-white pb-2 h-full rounded-3xl shadow overflow-hidden intersect:motion-preset-slide-left">
                    <div class="h-1/2 relative w-full group overflow-hidden">
                        <img [src]="p.thumbnail" [alt]="p.title"
                            class="aspect-7/3 object-cover w-full group-hover:scale-105 duration-300">
                    </div>
                    <div class="p-3 flex flex-col justify-between h-1/2">
                        <div class="h-3/4">
                            <div class="flex justify-between items-center">
                                <h3 class="text-lg lg:text-xl font-bold">{{p.title}}</h3>
                                <span class="badge badge-primary rounded-full">{{p.category}}</span>
                            </div>
                            <p class="max-sm:text-sm lg:text- my-3">{{p.tagline}}
                            </p>
                        </div>
                        <div class="h-1/4">
                            <div class="text-end">
                                <button (click)="getIndex($index)"
                                    class="max-lg:btn-sm btn btn-gradient btn-primary rounded-full "
                                    aria-haspopup="dialog" aria-expanded="false" aria-controls="fullscreen-modal"
                                    data-overlay="#fullscreen-modal">Details <span class="material-symbols-outlined">
                                        expand_content
                                    </span></button>
                            </div>
                            <ul class="flex gap-2">
                                <li class="font-bold text-xs">{{p.technologies[0]}}</li>
                                <li class="font-semibold text-xs">{{p.technologies[1]}}</li>
                                <li class="text-xs">{{p.technologies[2]}}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            }
        </div>
    </div>
</section>

<app-project-details [project]="details"></app-project-details>