<div class="flex flex-wrap justify-center gap-2 mt-5">
    <div class="tooltip [--placement:bottom]">
        <a href="https://www.linkedin.com/in/gamal-ehab" target="_blank" class="tooltip-toggle" aria-label="Tooltip">
            <button
                class="btn btn-circle  [--btn-color:#0a66c2] text-white intersect:motion-preset-slide-left intersect:motion-ease-spring-bouncier intersect:motion-delay-50"
                aria-label="Linkedin Icon Button">
                <span class="icon-[tabler--brand-linkedin] size-4.5 shrink-0"></span>
            </button>
        </a>
        <span class="tooltip-content tooltip-shown:opacity-100 tooltip-shown:visible mt-1.5" role="tooltip">
            <span class="tooltip-body">LinkedIn</span>
        </span>
    </div>
    <div class="tooltip [--placement:bottom]">
        <a href="https://github.com/GamaL-Ehab" target="_blank" class="tooltip-toggle" aria-label="Tooltip">
            <button
                class="btn btn-circle  [--btn-color:#2b3137] text-white intersect:motion-preset-slide-left intersect:motion-ease-spring-bouncier intersect:motion-delay-100"
                aria-label="Github Icon Button">
                <span class="icon-[tabler--brand-github] size-4.5 shrink-0"></span>
            </button></a>
        <span class="tooltip-content tooltip-shown:opacity-100 tooltip-shown:visible mt-1.5" role="tooltip">
            <span class="tooltip-body">Github</span>
        </span>
    </div>
    <div class="tooltip [--placement:bottom]">
        <a href="https://wa.me/+201118416050" target="_blank" class="tooltip-toggle" aria-label="Tooltip">
            <button
                class="btn btn-circle  [--btn-color:#25D366] text-white intersect:motion-preset-slide-left intersect:motion-ease-spring-bouncier intersect:motion-delay-150"
                aria-label="Whatsapp Icon Button">
                <span class="icon-[tabler--brand-whatsapp] size-4.5 shrink-0"></span>
            </button></a>
        <span class="tooltip-content tooltip-shown:opacity-100 tooltip-shown:visible mt-1.5" role="tooltip">
            <span class="tooltip-body">Whatsapp</span>
        </span>
    </div>
</div>