<section class="my-10 py-10 bg-gray-100">
    <h2 class="text-sm font-bold text-center text-primary">Tech Stack</h2>
    <h2 class="text-4xl lg:text-5xl font-bold text-center">Skills & Technologies</h2>
    <div class="md:w-3/4 lg:w-11/12 xl:w-3/4 mx-auto px-3 lg:px-10 flex flex-wrap my-5 ">
        <div class="lg:w-1/2 p-3">
            <div class="bg-white shadow rounded-3xl p-5 intersect:motion-preset-slide-right motion-delay-50">
                <h3 class="text-2xl font-semibold mb-3">
                    <span
                        class="material-symbols-outlined p-3 rounded-xl glass bg-black text-white hover:scale-105 duration-200 cursor-default">
                        devices
                    </span>
                    Front End
                </h3>
                <ul class="flex flex-wrap gap-3 font-bold cursor-default">
                    <li
                        class="rounded-2xl py-2 px-5 border border-primary glass hover:bg-black duration-300 hover:text-white intersect:motion-scale-in-0 motion-delay-100">
                        HTML
                    </li>
                    <li
                        class="rounded-2xl py-2 px-5 border border-primary glass hover:bg-black duration-300 hover:text-white intersect:motion-scale-in-0 motion-delay-100">

                        CSS
                    </li>
                    <li
                        class="rounded-2xl py-2 px-5 border border-primary glass hover:bg-black duration-300 hover:text-white intersect:motion-scale-in-0 motion-delay-100">

                        JavaScript
                    </li>
                    <li
                        class="rounded-2xl py-2 px-5 border border-primary glass hover:bg-black duration-300 hover:text-white intersect:motion-scale-in-0 motion-delay-100">

                        TypeSciprt
                    </li>
                    <li
                        class="rounded-2xl py-2 px-5 border border-primary glass hover:bg-black duration-300 hover:text-white intersect:motion-scale-in-0 motion-delay-100">
                        Angular
                    </li>
                    <li
                        class="rounded-2xl py-2 px-5 border border-primary glass hover:bg-black duration-300 hover:text-white intersect:motion-scale-in-0 motion-delay-100">
                        Bootstrap
                    </li>
                    <li
                        class="rounded-2xl py-2 px-5 border border-primary glass hover:bg-black duration-300 hover:text-white intersect:motion-scale-in-0 motion-delay-100">
                        Tailwind css
                    </li>
                    <li
                        class="rounded-2xl py-2 px-5 border border-primary glass hover:bg-black duration-300 hover:text-white intersect:motion-scale-in-0 motion-delay-100">
                        PrimeNg
                    </li>
                    <li
                        class="rounded-2xl py-2 px-5 border border-primary glass hover:bg-black duration-300 hover:text-white intersect:motion-scale-in-0 motion-delay-100">
                        SCSS
                    </li>

                </ul>
            </div>
        </div>
        <div class="lg:w-1/2 p-3">
            <div class="bg-white shadow rounded-3xl p-5 h-full intersect:motion-preset-slide-left motion-delay-100">
                <h3 class="text-2xl font-semibold mb-3">
                    <span
                        class="material-symbols-outlined p-3 rounded-xl glass bg-black text-white hover:scale-105 duration-200 cursor-default">
                        terminal
                    </span>
                    Back End
                </h3>
                <ul class="flex flex-wrap gap-3 font-bold cursor-default">
                    <li
                        class="rounded-2xl py-2 px-5 border border-primary glass hover:bg-black duration-300 hover:text-white intersect:motion-scale-in-0 motion-delay-100">
                        C#
                    </li>
                    <li
                        class="rounded-2xl py-2 px-5 border border-primary glass hover:bg-black duration-300 hover:text-white intersect:motion-scale-in-0 motion-delay-100">
                        SQL
                    </li>
                    <li
                        class="rounded-2xl py-2 px-5 border border-primary glass hover:bg-black duration-300 hover:text-white intersect:motion-scale-in-0 motion-delay-100">
                        LINQ
                    </li>
                    <li
                        class="rounded-2xl py-2 px-5 border border-primary glass hover:bg-black duration-300 hover:text-white intersect:motion-scale-in-0 motion-delay-100">
                        ASP.NET
                    </li>
                    <li
                        class="rounded-2xl py-2 px-5 border border-primary glass hover:bg-black duration-300 hover:text-white intersect:motion-scale-in-0 motion-delay-100">
                        ASP.NET MVC
                    </li>
                    <li
                        class="rounded-2xl py-2 px-5 border border-primary glass hover:bg-black duration-300 hover:text-white intersect:motion-scale-in-0 motion-delay-100">
                        ASP.NET Web API
                    </li>
                    <li
                        class="rounded-2xl py-2 px-5 border border-primary glass hover:bg-black duration-300 hover:text-white intersect:motion-scale-in-0 motion-delay-100">
                        Blazor
                    </li>
                </ul>
            </div>
        </div>
        <div class="lg:w-1/2 xl:w-7/12 p-3">
            <div class="bg-white shadow rounded-3xl p-5 intersect:motion-preset-slide-right motion-delay-150">
                <h3 class="text-2xl font-semibold mb-3">
                    <span
                        class="material-symbols-outlined p-3 rounded-xl glass bg-black text-white hover:scale-105 duration-200 cursor-default">
                        handyman
                    </span>
                    Tools
                </h3>
                <ul class="flex flex-wrap gap-3 font-bold cursor-default">
                    <li
                        class="rounded-2xl py-2 px-5 border border-primary glass hover:bg-black duration-300 hover:text-white intersect:motion-scale-in-0 motion-delay-100">
                        GIT
                    </li>
                    <li
                        class="rounded-2xl py-2 px-5 border border-primary glass hover:bg-black duration-300 hover:text-white intersect:motion-scale-in-0 motion-delay-100">
                        Github
                    </li>
                    <li
                        class="rounded-2xl py-2 px-5 border border-primary glass hover:bg-black duration-300 hover:text-white intersect:motion-scale-in-0 motion-delay-100">
                        Visual Studio Code
                    </li>
                    <li
                        class="rounded-2xl py-2 px-5 border border-primary glass hover:bg-black duration-300 hover:text-white intersect:motion-scale-in-0 motion-delay-100">
                        MS SQL Mangement Studio
                    </li>
                    <li
                        class="rounded-2xl py-2 px-5 border border-primary glass hover:bg-black duration-300 hover:text-white intersect:motion-scale-in-0 motion-delay-100">
                        Vercel
                    </li>
                    <li
                        class="rounded-2xl py-2 px-5 border border-primary glass hover:bg-black duration-300 hover:text-white intersect:motion-scale-in-0 motion-delay-100">
                        Visual Studio
                    </li>
                    <li
                        class="rounded-2xl py-2 px-5 border border-primary glass hover:bg-black duration-300 hover:text-white intersect:motion-scale-in-0 motion-delay-100">
                        MonsterAsp
                    </li>
                    <li
                        class="rounded-2xl py-2 px-5 border border-primary glass hover:bg-black duration-300 hover:text-white intersect:motion-scale-in-0 motion-delay-100">
                        Postman
                    </li>
                    <li
                        class="rounded-2xl py-2 px-5 border border-primary glass hover:bg-black duration-300 hover:text-white intersect:motion-scale-in-0 motion-delay-100">
                        Swagger
                    </li>
                </ul>
            </div>
        </div>
        <div class="lg:w-1/2 xl:w-5/12 p-3">
            <div class="bg-white shadow rounded-3xl p-5 intersect:motion-preset-slide-left motion-delay-200">
                <h3 class="text-2xl font-semibold mb-3">
                    <span
                        class="material-symbols-outlined p-3 rounded-xl glass bg-black text-white hover:scale-105 duration-200 cursor-default">
                        psychology
                    </span>
                    Concepts
                </h3>
                <ul class="flex flex-wrap gap-3 font-bold cursor-default">
                    <li
                        class="rounded-2xl py-2 px-5 border border-primary glass hover:bg-black duration-300 hover:text-white intersect:motion-scale-in-0 motion-delay-100">
                        Data Structurs
                    </li>
                    <li
                        class="rounded-2xl py-2 px-5 border border-primary glass hover:bg-black duration-300 hover:text-white intersect:motion-scale-in-0 motion-delay-100">
                        Solid Principles
                    </li>
                    <li
                        class="rounded-2xl py-2 px-5 border border-primary glass hover:bg-black duration-300 hover:text-white intersect:motion-scale-in-0 motion-delay-100">
                        Agile
                    </li>
                    <li
                        class="rounded-2xl py-2 px-5 border border-primary glass hover:bg-black duration-300 hover:text-white intersect:motion-scale-in-0 motion-delay-100">
                        Design Patterns
                    </li>
                    <li
                        class="rounded-2xl py-2 px-5 border border-primary glass hover:bg-black duration-300 hover:text-white intersect:motion-scale-in-0 motion-delay-100">
                        Archeteicture Patterns
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>