@import 'tailwindcss';
@import 'tailwindcss-intersect';
@plugin "tailwindcss-motion";
@plugin "@iconify/tailwind4";
@plugin "flyonui" {
  themes: light --default;
}
@import 'flyonui/variants.css';
@source "../node_modules/flyonui/flyonui.js";
